body { background-color: #F1F1F1; }
h1 { font-family: Arial; padding: 30px; color: #4A544A; }
p { font-family: Arial; padding: 30px; color: #4A544A; }
a { font-family: Arial; color: white; text-decoration: none; padding: 20px; font-size: 20px; }

.header { background-color: #4A544A; padding: 20px; text-align: center; }