body { background-color: #F1F1F1; }
h1 { font-family: Arial; padding: 30px; color: #4A544A; }
a { font-family: Arial; color: white; text-decoration: none; padding: 20px; font-size: 20px; }
p { font-family: Arial; padding: 30px; color: #4A544A; }

.header { background-color: #4A544A; padding: 20px; text-align: center; }

.container { display: flex; justify-content: flex-start; }
#tit1 { font-family: Arial; padding: 30px; margin: 80px 120px 0px 120px; color: #4A544A; }
#text1 { font-family: Arial; padding: 30px; margin: 0px 120px 120px 120px; color: #4A544A; }